<section id="wrapper">
    <section class="wrapper spotlight style1">

        <div class="container-titulo">
        
            <button
                class="btn btn-warning"               
                *ngIf="showEditInterface"
                (click)="interfaceAdd()"
            >Agregar proyecto</button>    
            
            <h2 class="titulo proyectos-titulo">Proyectos</h2>
        </div>

        <div class="proyectos-content">
            
            <app-proyectos-card
                *ngFor="let proy of proyecto"
                [proy]="proy"   
                (DeleteClick)="delete(proy)"
                (EditClick)="ToEdit(proy)"
            ></app-proyectos-card> 
            
        </div>

        <app-proyectos-card-add
            *ngIf="interfaceCardAdd"
            (onAddProyecto)="addProyecto($event)"  
        ></app-proyectos-card-add>        

    </section>               
</section>
