

.wrapper{
    display:flex;
    flex-direction:column;
    text-align:right;
    gap:30px;
    max-width: 960px;
    margin:auto;
    padding: 40px 0;
}

.proyecto-content{
    max-width: 450px;
    text-align:left;
}

.proyectos-content{
    display:flex;
    gap: 20px;
    justify-content:space-evenly;
    padding-top:20px;
    border-top: 2px solid rgba(59, 84, 165, 0.274);
    flex-wrap: wrap;
}


.proyectos-titulo{
    font-size:30px;
    padding: 0px 20px
}

.proyectos-img{
    max-width: 450px;
}

.proyectos-desc{
    font-size:18px;
}



/* ----- EDIT BOTTOM ------*/

.cont-acercaDe, .inner{
    position: relative;
}
.cont-edit-bottom{
    display: flex;
    gap: 7px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.edit-bottom{
    color: rgb(253, 182, 28);
}

/* Plus bottom */

.center{
  display: flex;
  justify-content:center;
  align-items:center; 
}

.border{
  border: 1px solid #000;
}
