<section id="wrapper">
    <section class="wrapper spotlight style1">

        <h2 class="titulo proyectos-titulo">Proyectos</h2>

        <div class="proyectos-content">
            
            <app-proyectos-card></app-proyectos-card> <!-- ngFor-->
            
        </div>

        <app-proyectos-card-add></app-proyectos-card-add> <!--- ngIf -->
            

        <!-- Boton Editar-->
        <div class="cont-edit-bottom">
            <a href="#" class="edit-bottom"><i class="far fa-edit fa-lg"></i></a>
            <a href="#"class="edit-bottom"><i class="far fa-times-circle fa-lg"></i></a>
        </div>

    </section>               
</section>
