<section id="wrapper">
    <section class="wrapper spotlight style1">

        <h2 class="titulo proyectos-titulo">Proyectos</h2>

        <div class="proyectos-content">
            
            <app-proyectos-card
                *ngFor="let proy of proyecto"
                [proy]="proy"   
                (DeleteClick)="delete(proy)"
                (EditClick)="ToEdit(proy)"
            ></app-proyectos-card> <!-- ngFor-->
            
        </div>

        <app-proyectos-card-add
            *ngIf="showEditInterface"
            (onAddProyecto)="addProyecto($event)"  
        ></app-proyectos-card-add> <!--- ngIf -->           

    </section>               
</section>
