

.wrapper{
    display:flex;
    flex-direction:column;
    text-align:right;
    gap:30px;
    max-width: 960px;
    margin:auto;
    padding: 40px 20px;
}

.container-titulo{
    display:flex;
    flex-direction: row-reverse;
    justify-content:space-between;
}

.proyectos-content{
    display:flex;
    gap: 20px;
    justify-content:space-evenly;
    border-top: 2px solid rgba(59, 84, 165, 0.274);
    flex-wrap: wrap;
}


/*--------------------------------------- STYLE DIVIDER ------------------------------------*/


.blue {
    background-color: #ffffff;
}

#third {
    height: auto;
    min-height: 100px;
    position: relative;
}

.separator {
    position: absolute;
    top: 0;
}

.separator-bottom {
    position: absolute;
    bottom: 0;
}

#five .section-title {
    padding-bottom:2.5em;
}






