<section id="wrapper">
    <section id="one" class="wrapper spotlight style1">


        <h2 class="titulo educacion-titulo">Educación</h2>
        

        <div class="educaciones-content">               

            <app-educacion-card 
                *ngFor="let edu of educacion"
                [edu]="edu"   
                (DeleteClick)="delete(edu)"
                (EditClick)="ToEdit(edu)"
                [showEditInterface]="showEditInterface"
            ></app-educacion-card>                                

        </div>

        <div  *ngIf="showEditInterface" class="btn-100">
            <app-educacion-card-edit
                *ngIf="interfaceCardEdit"
                (onAddEducacion)="addEducacion($event)"
                (onAddEducacion)="popOld($event)"
                [edu]="onEdit"
            ></app-educacion-card-edit>
        </div>

        <div *ngIf="showEditInterface" class="btn-100">
            <app-educacion-card-add  
                *ngIf="showEditInterface"                                
                (onAddEducacion)="addEducacion($event)"                   
            ></app-educacion-card-add>  
            <button type="button" class="btn btn-outline-warning btn-100" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Agregar Educacion</button>
        </div>
        
    </section>               
</section>
