<section id="wrapper">
    <section id="one" class="wrapper spotlight style1">

        <div class="container-titulo">
            <h2 class="titulo educacion-titulo">Educación</h2>
            <button
                class="btn btn-warning"               
                *ngIf="showEditInterface"
                (click)="interfaceAdd()"
            > Agregar Educación </button>         <!--- *ngIf="showEditInterface" -->
        </div>

        <div class="educaciones-content">               

            <app-educacion-card 
                *ngFor="let edu of educacion"
                [edu]="edu"   
                (DeleteClick)="delete(edu)"
                (EditClick)="ToEdit(edu)"
                [showEditInterface]="showEditInterface"
            ></app-educacion-card>                                

            <div *ngIf="showEditInterface">
                <app-educacion-card-add               
                    *ngIf="interfaceCardAdd"
                    (onAddEducacion)="addEducacion($event)"
                    (cancel)="interfaceAdd()"
                ></app-educacion-card-add>    <!---   [ngModel]="edu"  *ngIf="showEditInterface"   [valueEdit]="toEditEdu" [toEditEdu]="onEdit"  -->
            </div>


            <div  *ngIf="showEditInterface">
                <app-educacion-card-edit
                    *ngIf="interfaceCardEdit"
                    (onAddEducacion)="addEducacion($event)"
                    [edu]="onEdit"
                    (cancel)="interfaceEdit()"
                ></app-educacion-card-edit>
            </div>
            

        </div>
        
    </section>               
</section>
