<section id="wrapper">
    <section id="one" class="wrapper spotlight style1">

        <div class="container-titulo">
            <h2 class="titulo educacion-titulo">Educación</h2>
            <button
                class="btn btn-warning"               
                *ngIf="showEditInterface"
            > Agregar Educación </button>                                            <!--- *ngIf="showEditInterface" -->
        </div>

        <div class="educaciones-content">               

            <app-educacion-card 
                *ngFor="let edu of educacion"
                [edu]="edu"   
                (DeleteClick)="delete(edu)"
            ></app-educacion-card>                                 

            <app-educacion-card-add
                *ngIf="showEditInterface"
                (onAddEducacion)="addEducacion($event)"
            ></app-educacion-card-add>

        </div>
        
    </section>               
</section>
