<header class="header-container">
    <div class="contenedor-argprog">
        <img class="logo-argprog" src="assets/img/logo.png">
    </div>
    <nav class="nav-container">
        
        <!--
        <div class="media-cont">    
            <a href="#" class="media"><i class="fab fa-github fa-lg"></i></a>
            <a href="#" class="media"><i class="fab fa-twitter fa-lg"></i></a> 
            <a href="#" class="media"><i class="fab fa-linkedin fa-lg"></i></a> 

            <button class="btn btn-primary">
            <i class="bi bi-twitter"></i> 
        </button>
        </div>  
        -->
        
        <div class="navbar" *ngIf="!showEditInterface">
            
            <a 
                href="#menu" 
                class="menu"
            >Menu</a>

            <a 
                *ngIf="!login"
                href="#" 
                class="log"
                (click)="interfaceSesion()"
                >Iniciar Sesion</a>
             
            <a 
                *ngIf="login"
                href="#" 
                class="log"
                (click)="cerrarSesion()"
                style="color:rgb(255, 101, 101)"
                >Cerrar Sesion</a>    
            
            <a 
                *ngIf = "login"
                class="log" 
                (click)="toggleEditInterface()"
                style="color:rgb(255, 219, 100)"
            > Editar
            </a>
        </div>

        <button
            class="btn btn-danger"
            *ngIf="showEditInterface"
            (click)="toggleEditInterface()"          
        >Finalizar edicion</button>

    </nav>

    <app-inicio-sesion
        *ngIf="interfaceCardSesion"
        class="incio-sesion-card"
        (cancel)="interfaceSesion()"
        (loginSuccess)="loginSuccess()"
    ></app-inicio-sesion>
</header>
