<div class="cont-button">
    
    
    <fa-icon 
        class="button button-edit"
        [icon]="faPenToSquare" 
        (click)="onEdit()"
    ></fa-icon>

    <fa-icon 
        class="button button-delete " 
        [icon]="faTimes" 
        (click)="onDelete()"
    ></fa-icon>
    

    <!--
    <button
        class="btn btn btn-outline-warning" 
        (click)="onEdit()"
    >
    Editar
    </button>

    <button
        class="btn btn btn-outline-danger" 
        (click)="onDelete()"
    >
    Eliminar
    </button>
    -->
        
</div>
    

