<section id="wrapper">
    <section id="one" class="wrapper spotlight style1">

        <div class="container-titulo">

            <h2 class="titulo habilidades-titulo">Habilidades</h2>
        
            <button
                class="btn btn-warning"               
                *ngIf="showEditInterface"
                (click)="interfaceAdd()"
            > Agregar Educación </button>               

        </div>
        

        <div class="cont-habilidades">                       

            <div class="content">
                <app-progress-bar
                    *ngFor="let hab of habilidad"
                    [hab]="hab"  
                    (DeleteClick)="delete(hab)"
                    (EditClick)="ToEdit(hab)"
                > </app-progress-bar>
            </div>
           
            <app-progress-bar-add
                *ngIf="interfaceCardAdd"
                (onAddHabilidad)="addHabilidad($event)"
                (cancel)="interfaceAdd()"
            ></app-progress-bar-add>  <!--- ngIf     (onAddHabilidad)="addHabilidad($event)"-->

            <app-habilidades-card-edit
                *ngIf="interfaceCardEdit"
                (onAddHabilidad)="addHabilidad($event)"
                [hab]="onEdit"
                (cancel)="interfaceEdit()"
            ></app-habilidades-card-edit>

        </div>

    </section>               
</section>
