<section id="wrapper">
    <section id="one" class="wrapper spotlight style1">

        <div class="container-titulo">
            <h2 class="titulo habilidades-titulo">Habilidades</h2>
            <button 
                *ngIf="showEditInterface"
                type="button" 
                class="btn btn-warning" 
                data-bs-toggle="modal" 
                data-bs-target="#habilidadAddModal" 
                data-bs-whatever="@mdo"
            >Agregar Habilidad</button>
        </div>
        
        <div class="cont-habilidades">                       

            <div class="content">
                <app-progress-bar
                    *ngFor="let hab of habilidad"
                    [hab]="hab"  
                    (DeleteClick)="delete(hab)"
                    (EditClick)="ToEdit(hab)"
                    [showEditInterface]="showEditInterface"
                > </app-progress-bar>
            </div>        

            <app-progress-bar-add
                *ngIf="showEditInterface"
                (onAddHabilidad)="addHabilidad($event)"
            ></app-progress-bar-add>                  

            <app-habilidades-card-edit
                *ngIf="interfaceCardEdit"
                (onAddHabilidad)="addHabilidad($event)"
                (onAddHabilidad)="popOld($event)"
                [hab]="onEdit"
                (cancel)="interfaceEdit()"
            ></app-habilidades-card-edit>

        </div>

    </section>               
</section>
