<section id="wrapper">
    <section id="one" class="cont-experiencias">

        <div class="container-titulo">
            <h2 class="titulo experiencias-titulo">Experiencias</h2>
            <button
                class="btn btn-warning"               
                *ngIf="showEditInterface"
            > Agregar Experiencia</button>   <!--- *ngIf="showEditInterface" -->
        </div>
        
        <div class="cont-experiencias-cards">

            <app-experiencia-card
                *ngFor="let expe of experiencia"
                [expe]="expe"   
                (DeleteClick)="delete(expe)"
                (EditClick)="ToEdit(expe)"
            ></app-experiencia-card>          

            <app-experiencia-card-add
                *ngIf="showEditInterface"
                (onAddExperiencia)="addExperiencia($event)"   
            ></app-experiencia-card-add>    <!---- [ngModel]="expe"     [toEditExpe]="toEditexpe"  ngIf-->

        </div>

    </section>               
</section>