*{
    background-color: #4c5c96;
    color: #fff;
}

.cont-experiencias{
    display:flex;
    flex-direction:column;
    gap:30px;
    max-width: 960px;
    margin:auto;
    padding: 40px 0;
}

.cont-experiencias-cards{
    display:flex;
    flex-direction:column;
    gap: 20px;
    justify-content:space-evenly;
    padding-top:20px;
    border-top: 2px solid rgba(156, 179, 255, 0.616);
}



.experiencias-titulo{
    font-size:30px;
}





