
.content{
    display:flex;
    align-items: center;
    gap: 30px;
    position: relative;  /* Para ajustar los botones*/
}

.desc-cont{
    display:flex;
    flex-direction: column;
    gap: 11px;
}

.titulo{
    font-size:30px;
}

.desc{
    font-size:18px;
}

.img{
    width:160px;
    height:160px;
    border-radius: 50%;
}

/* Style Botones*/

.cont-button{
    position: absolute;
    top: 0;
    right: 0;
}






