<div class="proyecto-content">
    <a href="#"><img class="proyectos-img" src="assets/img/pic04.jpg"/></a>     
    
    <form class="cont_form" action="">

        <input type="image">

        <p>Ingresar nombre del proyecto</p>
        <input 
            class="title_input"
            name="title_input"
            type="text"
            placeholder="Ingresar nombre del proyecto..."
        >

        <p>Ingresar descripcion del proyecto</p>
        <textarea 
            class="textaera_input" 
            placeholder="Ingresar descripcion del proyecto..."
            maxlength="323"
            minlength="1">
        </textarea>

        <input 
            type="submit" 
            value="Guardar proyecto" 
            class="btn btn-block"
        >
    </form>
            
</div> 
