.content{
    text-align:left;
    display: flex;
    gap: 40px;
    justify-content:center;
    align-items:center;
}
.cont-form{
    display: flex;
    gap: 15px;
    flex-direction:column;
}


.rango_cont{
    display: flex;
    gap: 10px;
}

.rango{
    width: 90%;
}