<!-- 
<div class="content">
    <circle-progress        
        title="{{this.habilidadForm.value.nombre_habilidad}}"
        [percent]="this.habilidadForm.value.rango || 0"
        [subtitle]="toString(this.habilidadForm.value.rango || 0)"
        class="circle"       
        [space]="-10" 
        [radius]="100" 
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="10" 
        [outerStrokeColor]="'#4882c2'" 
        [innerStrokeColor]="'#e7e8ea'" 
        [animation]="true"
        [animationDuration]="1000">  
    </circle-progress>

    <form class="cont-form" (ngSubmit)="onSubmit()" [formGroup]="habilidadForm">

        <p>Ingresar nombre del lenguaje/habilidad</p>
        <input 
            type="text" 
            placeholder="Nombre del lenguaje/habilidad..."
            formControlName="nombre_habilidad"
            name="nombre_habilidad"
            id="nombre_habilidad"
        >

        <div class="rango_cont">
            <input
                class="rango"            
                type="range"
                name="rango"
                formControlName="rango"
                id="rango"
                min="0"
                max="100"
                step="5"
            >  
        </div>
        
        
        

            <div class="btn-container">

                <input 
                    class="btn btn-success" 
                    type="submit" 
                    value="Guardar habilidad" 
                    [disabled]="!habilidadForm.valid"
                >
    
                <button
                    class="btn btn-danger"               
                    (click)="cancelClick()"
                >Cancelar </button>
            </div>

    </form>

</div>

-->

<div class="modal fade" id="habilidadAddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar habilidad</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="content modal-body">

            <circle-progress        
                title="{{this.habilidadForm.value.nombre_habilidad}}"
                [percent]="this.habilidadForm.value.rango || 0"
                [subtitle]="toString(this.habilidadForm.value.rango || 0)"
                class="circle"       
                [space]="-10" 
                [radius]="100" 
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="10" 
                [outerStrokeColor]="'#4882c2'" 
                [innerStrokeColor]="'#e7e8ea'" 
                [animation]="true"
                [animationDuration]="1000">  
            </circle-progress>

            <form
                class="cont-form"
                (ngSubmit)="onSubmit()" 
                enctype="multipart/form-data" 
                [formGroup]="habilidadForm"
            >
                <div class="mb-3">

                    <label 
                        for="recipient-name"                
                        class="col-form-label"
                    >Ingresar nombre del lenguaje/habilidad</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="recipient-name"
                        name="nombre_habilidad"           
                        formControlName="nombre_habilidad"
                        type="text"
                        placeholder="Nombre del lenguaje/habilidad..."
                    >

                </div>
                
                <div class="mb-3">
                    <label for="message-text" class="col-form-label">Rango: %</label>
                    <input 
                        class="form-control" 
                        id="rango"
                        name="rango"
                        type="range"
                        formControlName="rango"           
                        min="0"
                        max="100"
                        step="5"
                    >
                </div>

                <div class="modal-footer">

                    <button 
                        type="button" 
                        class="btn btn-danger" 
                        data-bs-dismiss="modal"
                    >Cancel</button>
        
                    <button  
                        type="submit"
                        class="btn btn-success"                        
                        value="Guardar habilidad" 
                        class="btn btn-success"
                        [disabled]="!habilidadForm.valid"
                        data-bs-dismiss="modal"
                    >Guardar</button> <!-- type="submit" -->

                </div>

          </form>
        </div>

      </div>
    </div>
  </div>