<div class="content">
    <circle-progress        
        title="{{this.habilidadForm.value.nombre_habilidad}}"
        [percent]="this.habilidadForm.value.rango || 0"
        [subtitle]="toString(this.habilidadForm.value.rango || 0)"
        class="circle"       
        [space]="-10" 
        [radius]="100" 
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="10" 
        [outerStrokeColor]="'#4882c2'" 
        [innerStrokeColor]="'#e7e8ea'" 
        [animation]="true"
        [animationDuration]="1000">  
    </circle-progress>

    <form class="cont-form" (ngSubmit)="onSubmit()" [formGroup]="habilidadForm">

        <p>Ingresar nombre del lenguaje/habilidad</p>
        <input 
            type="text" 
            placeholder="Nombre del lenguaje/habilidad..."
            formControlName="nombre_habilidad"
            name="nombre_habilidad"
            id="nombre_habilidad"
        >

        <div class="rango_cont">
            <input
                class="rango"            
                type="range"
                name="rango"
                formControlName="rango"
                id="rango"
                min="0"
                max="100"
                step="5"
            >  
            <!--{{this.habilidadForm.get(rango)}}-->
        </div>
        
        
        

            <div class="btn-container">

                <input 
                    class="btn btn-success" 
                    type="submit" 
                    value="Guardar habilidad" 
                    [disabled]="!habilidadForm.valid"
                >
    
                <button
                    class="btn btn-danger"               
                    (click)="cancelClick()"
                >Cancelar </button>
            </div>

    </form>

</div>