<div class="content">
    <circle-progress 
        title="{{nombre_habilidad}}"
        [percent]="rango || 0"
        [subtitle]="toString(rango) "
        class="circle"       
        [space]="-10" 
        [radius]="100" 
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="10" 
        [outerStrokeColor]="'#4882c2'" 
        [innerStrokeColor]="'#e7e8ea'" 
        [animation]="true"
        [animationDuration]="1000">  <!-- [percent]="bar.progress" -->
    </circle-progress>

    <form class="cont-form" (ngSubmit)="onSubmit()">

        <p>Ingresar nombre del lenguaje/habilidad</p>
        <input 
            type="text" 
            placeholder="Nombre del lenguaje/habilidad..."
            name="nombre_habilidad"
            id="nombre_habilidad"
            [(ngModel)]="nombre_habilidad"
        >

        <div class="rango_cont">
            <input
                class="rango"            
                type="range"
                name="rango"
                id="rango"
                min="0"
                max="100"
                step="5"
                [(ngModel)]="rango"
            >  
            {{rango}}
        </div>
        
        
        <input 
            class="btn btn-success" 
            type="submit" 
            value="Guardar habilidad" 
            >

    </form>

</div>
