<div class="content">
    <img src="assets/img/pic04.jpg" class="img" alt="" /> 
    
    <form class="cont_form" (ngSubmit)="onSubmit()" enctype="multipart/form-data">     <!--- *ngIf="showAddEdu"-->

        <!-- <input type="image"> -->
    
        <p>Nombre experiencia</p>
        <input 
            class="title_input"
            name="nombre_expe"
            [(ngModel)]="nombre_expe"
            type="text"
            placeholder="Nombre de la experiencia"
        > 
    
        <p>Descripcion experiencia</p>
        <textarea 
            class="textaera_input" 
            name="descripcion_expe"
            [(ngModel)]="descripcion_expe"
            placeholder="Ingresar descripcion experiencia..."
            maxlength="500"
            minlength="1"> 
        </textarea>

        <p>Foto experiencia</p>
        <input 
            class=""
            name="url_foto_expe"
            [(ngModel)]="url_foto_expe"
            type="file"
            accept=".jpg, .png, .jepg"
        >
    
        <input 
            type="submit" 
            value="Guardar experiencia" 
            class="btn btn-success"
        >
    </form>
</div> 

