.content{
    margin-top:10%;
    position: relative;
}

/* Style Botones*/

.cont-button{
    position: absolute;
    display:flex;
    gap: 10px;
    top: 0;
    right: 0;
}

.edit-button{
    color: #4c5c96;
}

.delete-button{
    color:red;
}


