<div class="content">
    <circle-progress 
      title={{hab.nombre_habilidad}}
      [percent]="hab.rango || 0"
      [subtitle]="toString(hab.rango || 0) "
      [space]="-10" 
      [radius]="100" 
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="10" 
      [outerStrokeColor]="'#4882c2'" 
      [innerStrokeColor]="'#e7e8ea'" 
      [animation]="true"
      [animationDuration]="1000">   
    </circle-progress>        <!--       toString(hab.rango)    -->

    <div class="cont-button">

      <app-button-edit-delete
        *ngIf="showEditInterface"
        (onDeleteClick)="deleteClick()"
        (onEditClick)="editClick()"
      ></app-button-edit-delete>

    </div>

</div>