<div class="content" data-aos="flip-left">
    
    <a href="{{proy.url_proyecto}}" target="_blank"><img class="img" src="{{proy.url_foto_proyecto}}"/></a>  <!-- url_foto_proy-->              
    
    <h3 class="desc">{{proy.nombre_proyecto}}</h3>  
    
    
    <p class="desc">{{proy.descripcion_proyecto}}</p>             

    <div class="cont-button">  
        
        <app-button-edit-delete
            *ngIf="showEditInterface"
            (onDeleteClick)="deleteClick()"
            (onEditClick)="editClick(proy)"
        ></app-button-edit-delete>  
                  
        </div>

</div>   
