

.content{
    max-width: 450px;
    text-align:left;
    position: relative;  /* Para ajustar los botones*/
    padding: 40px 30px;
}

.img{ 
    max-width: 400px;  /* Adaptar imagenes altura y ancho*/
    height: 300px;
    width: 450px
}

.desc{
    font-size:18px;
}

/* Style Botones*/

.cont-button{
    position: absolute;
    top: 0;
    right: 0;
}




