<div class="educacion_content">
    <img src="assets/img/pic04.jpg" class="educacion_img" alt="" />
    
    <form class="cont_form" (ngSubmit)="onSubmit()">     <!--- *ngIf="showAddEdu"-->

        <!-- <input type="image"> -->

        <p>Nombre de la educación</p>
        <input 
            class="title_input"
            name="institucion_edu"
            [(ngModel)]="institucion_edu"
            type="text"
            placeholder="Nombre de la educación"
        > 

        <p>Descripcion de educación</p>
        <textarea 
            class="textaera_input" 
            name="descripcion_edu"
            [(ngModel)]="descripcion_edu"
            placeholder="Ingresar descripcion de educación..."
            maxlength="500"
            minlength="1"> 
        </textarea>

        <input 
            type="submit" 
            value="Guardar educación" 
            class="btn btn-success"
        >
    </form>
</div> 
