<div class="educacion_content">
    <img src="assets/img/pic04.jpg" class="educacion_img" alt="" />
    <form class="cont_form" action="">

        <!-- <input type="image"> -->

        <p>Nombre de la educación</p>
        <input 
            class="title_input"
            name="title_input"
            type="text"
            placeholder="Nombre de la educación"
        >

        <p>Descripcion de educación</p>
        <textarea 
            class="textaera_input" 
            placeholder="Ingresar descripcion de educación..."
            maxlength="323"
            minlength="1">
        </textarea>

        <input 
            type="submit" 
            value="Guardar educación" 
            class="btn btn-block"
        >
    </form>
</div> 
