<div class="content">
    <app-progress-bar         
    ></app-progress-bar>
</div>

<div class="content">
    <circle-progress 

      [space]="-10" 
      [radius]="100" 
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="10" 
      [outerStrokeColor]="'#4882c2'" 
      [innerStrokeColor]="'#e7e8ea'" 
      [animation]="true"
      [animationDuration]="1000">
    </circle-progress>  <!--        [title]="bar.title"   [percent]="bar.progress"   -->


    <div class="cont-button">

      <app-button-edit-delete

      ></app-button-edit-delete>

      <!--- 
                *ngIf="showEditInterface"
        (onDeleteClick)="deleteClick()"
        (onEditClick)="editClick()"
      -->

    </div>

</div>




