
.content{
    display:flex;
    align-items: center;
    gap: 30px;
}

.img{
    width:130px;
    height:130px;
    border-radius: 50%;
}

.cont_form{
    display:flex;
    flex-direction:column;
    gap:10px;
    width: 80%;
}

.textaera_input{
    height: 90px;
    resize: vertical;
}

.btn{
    width:40%;
}
