<!--
<div class="content">
    <img src="assets/img/pic04.jpg" class="img" alt="" />
    
    <form class="cont_form" (ngSubmit)="onSubmit()" enctype="multipart/form-data" [formGroup]="educacionForm">     <!--- *ngIf="showAddEdu"-->

        <!-- <input type="image"> 

        <p>Nombre de la educación</p>
        <input 
            class="title_input"
            name="institucion_edu"          
            formControlName="institucion_edu"
            type="text"
            placeholder="Nombre de la educación"
        >                                                
        <p>Descripcion de educación</p>
        <textarea 
            class="textaera_input" 
            name="descripcion_edu"
            formControlName="descripcion_edu"          
            placeholder="Ingresar descripcion de educación..."
            maxlength="500"
            minlength="1"
            ></textarea> 

        <p>Foto educacion</p>
        <input 
            class=""
            name="url_foto_edu"
            formControlName="url_foto_edu"           
            type="url"
            accept=".jpg, .png, .jepg"
        >   
 
        

        <div class="btn-container">
            <input 
            type="submit" 
            value="Guardar cambios" 
            class="btn btn-success"
            [disabled]="!educacionForm.valid"
            >

            <button
                class="btn btn-danger"               
                (click)="cancelClick()"
            >Cancelar </button>
        </div>
</div>
    </form> -->



    <button 
        type="button" 
        class="btn btn-outline-info btn-100" 
        data-bs-toggle="modal" 
        data-bs-target="#editEducacionModal" 
        data-bs-whatever="@mdo"
    >Editar {{this.educacionForm.value.institucion_edu}}</button>
    

    <div 
        class="modal fade" 
        id="editEducacionModal"
        tabindex="-1" 
        aria-labelledby="exampleModalLabel" 
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Educacion</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="{{this.educacionForm.value.url_foto_edu}}" class="img" alt="" />
                <form
                    (ngSubmit)="onSubmit()" 
                    enctype="multipart/form-data" 
                    [formGroup]="educacionForm"
                >
                    <div class="mb-3">
    
                        <label 
                            for="recipient-name"                
                            class="col-form-label"
                        >Nombre educacion:</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="recipient-name"
                            name="institucion_edu"           
                            formControlName="institucion_edu"
                            type="text"
                            placeholder="Nombre de la educación"
                        >
                    </div>
    
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Descripcion:</label>
                        <textarea 
                            class="form-control" 
                            id="message-text"
                            name="descripcion_edu"
                            formControlName="descripcion_edu"           
                            placeholder="Ingresar descripcion de educación..."
                            maxlength="500"
                            minlength="1"
                        ></textarea>
                    </div>
    
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Url foto:</label>
                        <input 
                            class="control"
                            id="message-text"
                            name="url_foto_edu"
                            formControlName="url_foto_edu"           
                            type="url"
                            accept=".jpg, .png, .jepg"
                        >  
                    </div>
    
                    <div class="modal-footer">
    
                        <button 
                            type="button" 
                            class="btn btn-danger" 
                            data-bs-dismiss="modal"
                        >Cancel</button>
            
                        <button  
                            type="submit"
                            class="btn btn-success"                        
                            value="Guardar educación" 
                            class="btn btn-success"
                            [disabled]="!educacionForm.valid"
                            data-bs-dismiss="modal"
                        >Guardar cambios</button> 
    
                    </div>
    
              </form>
            </div>
    
          </div>
        </div>
      </div>


      
    
 
