<div class="content">
    <img src="assets/img/pic04.jpg" class="img" alt="" />
    
    <form class="cont_form" (ngSubmit)="onSubmit()" enctype="multipart/form-data" [formGroup]="educacionForm">     <!--- *ngIf="showAddEdu"-->

        <!-- <input type="image"> -->

        <p>Nombre de la educación</p>
        <input 
            class="title_input"
            name="institucion_edu"
            
            formControlName="institucion_edu"

            type="text"
            placeholder="Nombre de la educación"
        >                                                <!-- [(ngModel)]="institucion_edu"  -->

        <p>Descripcion de educación</p>
        <textarea 
            class="textaera_input" 
            name="descripcion_edu"

            formControlName="descripcion_edu"
            
            placeholder="Ingresar descripcion de educación..."
            maxlength="500"
            minlength="1"
            ></textarea> 

        <p>Foto educacion</p>
        <input 
            class=""
            name="url_foto_edu"

            formControlName="url_foto_edu"
            
            type="url"
            accept=".jpg, .png, .jepg"
        >   <!-- [(ngModel)]="url_foto_edu"  -->
 
        

        <div class="btn-container">
            <input 
            type="submit" 
            value="Guardar edicion de educación" 
            class="btn btn-success"
            [disabled]="!educacionForm.valid"
            >

            <button
                class="btn btn-danger"               
                (click)="cancelClick()"
            >Cancelar </button>
        </div>

    </form>
    
</div> 
