
.acercaDe-cont{
    display:flex;
    flex-direction:row-reverse;
    text-align:right;
    gap:30px;
    max-width: 960px;
    margin:auto;
    padding: 40px 0;
}

.content{
    display:flex;
    flex-direction:column;
    gap: 10px;
    justify-content:space-evenly;

}

.desc-cont{
    display:flex;
    flex-direction:column;
    gap: 10px;
    padding-top:20px;
    border-top: 2px solid rgba(59, 84, 165, 0.274);
}

.acercaDe-titulo{
    font-size:30px;
}

.acercaDe-desc{
    font-size:18px;
}

.acercaDe-lenguajes{
    color: #4c5c96;
}

.img-personal{
    width:200px;
    height:auto;
    border-radius: 60%;
}


