<section id="wrapper">
        <section id="one" class="wrapper spotlight style1">

            <div class="acercaDe-cont">

                <img src="assets/img/personal.jpeg" class="img-personal" alt="" />

                <div class="content">
                    <h2 class="titulo acercaDe-titulo">Acerca De Santiago</h2>
                    <div class="desc-cont">
                        <p class="acercaDe-desc">Estudiante de ingenieria en Sistemas de Informacion. Desarrollador Web Full Stack. Constante aprendizaje y adaptacion de nuevas tecnologias. Buen desempeño trabajando en equipo junto a habilidades de comunicacion y liderazgo. </p>
                        <p class="acercaDe-lenguajes">[Angular - Java - Spring - SQL]</p>
                    </div>                    
                </div>

                <!-- Boton Editar-->
                <div class="cont-edit-bottom">
                    <a href="#" class="edit-bottom"><i class="far fa-edit fa-lg"></i></a>
                    <a href="#"class="edit-bottom"><i class="far fa-times-circle fa-lg"></i></a>
                </div>

            </div>
        </section>               
</section>
