<section class="content">

    <div class="acercaDe-cont">

        <img src="assets/img/personal.jpeg" class="img-personal" alt="" />
        <!-- <img src="{{acercade.}}" class="img-personal" alt="" /> -->

        <div class="content-text">

            <h2 class="titulo acercaDe-titulo">Acerca De Santiago</h2>

            <app-acerca-de-card
                *ngFor="let acer of acercade"
                [acer]="acer" 
                (EditClick)="ToEdit(acer)"
            ></app-acerca-de-card>  

        </div>

    </div>
   
    <app-acerca-de-edit
        *ngIf="interfaceCard"
        class="card"
        (onEditAcercaDe)="editAcercaDe($event)"
        [acer]="onEdit"
        (cancel)="cancelInterfaceCard()"
    ></app-acerca-de-edit>

</section>
