
.acercaDe-cont{
    display:flex;
    flex-direction:row-reverse;
    text-align:right;
    gap:30px;
    max-width: 960px;
    margin:auto;
    padding: 40px 0;
    
}

.content-text{
    display:flex;
    flex-direction:column;
    gap: 10px;
    justify-content:space-evenly;
    position: relative;  /* Para ajustar los botones*/
}

.desc-cont{
    display:flex;
    flex-direction:column;
    gap: 10px;
    padding-top:20px;
    border-top: 2px solid rgba(59, 84, 165, 0.274);
}

.acercaDe-titulo{
    font-size:30px;
}

.acercaDe-desc{
    font-size:18px;
}

.acercaDe-lenguajes{
    color: #4c5c96;
}

.img-personal{
    width:200px;
    height:auto;
    border-radius: 60%;
}

/* Interface Card*/

.card{
    position: absolute;
    position:fixed;
    z-index: 1000;
    top: 80px;
    left: 50%;
    margin-left: -400px;
    height: 600px;
    width: 800px;
    background-color: aliceblue;
    border: 1px solid #000;
    border-radius:10% ;

    transition: 4s;
}

/* Style Botones*/

.cont-button{
    position: absolute;
    top: 0;
    left: 0;
}


